################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/VendingmachineTestCodeCoverage/bin/Debug/net8.0
/VendingmachineTestCodeCoverage/obj
